@model IEnumerable<WebApplication1.Models.Film>

@{
    ViewBag.Title = "Macera";
    Layout = "~/Views/Shared/icerikgoster.cshtml";
}


<table border="0" align="center">


    @foreach (var item in Model)
    {
        <tr>
            <td rowspan="4" width="200" height="200">

                <a href="/Home/FilmDetay/@item.film_id"><img width="200" height="200" src="~/Content/img/film/@item.film_resim" /></a>
            </td>
            <td width="300" height="30" style="padding-left:20px;">
                <h3 style="float:left;">Film Adı  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; </h3>
                <h4>@Html.DisplayFor(modelItem => item.film_adi)</h4>
            </td>
        </tr>

        <tr>
            <td width="300" height="30" style="padding-left:20px;">
                <h3 style="float:left;">Yapım Tarihi :&nbsp;</h3>
                <h4>@Html.DisplayFor(modelItem => item.film_yil)</h4>
            </td>
        </tr>
        <tr>

            <td width="300" height="30" style="padding-left:20px;">
                <h3 style="float:left;">Imdb Puanı  &nbsp; :&nbsp;</h3>
                <h4>@Html.DisplayFor(modelItem => item.film_puan) </h4>
            </td>

        </tr>
        <tr>

            <td width="450" style="padding-left:20px;">

                @if (item.film_konu.Length > 200)
                {
                    <p>@Html.Raw(item.film_konu.Substring(0, 200)) ...</p>
                }

                else
                {
                    <p>@Html.Raw(item.film_konu) ...</p>
                }

            </td>

        </tr>

        <tr>
            <td></td>
            <td align="right">
                <a href="/Home/FilmDetay/@item.film_id">Devamı İçin Tıklayınız</a>
            </td>
        </tr>

        <tr>
            <td colspan="2" height="40">
                <hr style="margin-bottom:25px;" />
            </td>
        </tr>

    }

</table>
